<%- include('partials/header.ejs')%>

<div class="container">
  <div class="banner"> </div>
  
   <section class="article-back">
      <article class="article-card-h">
         <div class="card-img-det">
            <img id="img-det" src="../images/upload/<%= products.img %>" alt="">
         </div>
         
         <div class="card-text">
            <h2 class="title-prod"><%= products.nombre  %></h2>
            <h4 class="subtitle-prod"><%= products.cepa  %></h4> 
            <h4 class="subtitle-prod"><%= products.descripcion  %></h4>
             
            <span>Precio x unidad </span>
            <span class="price"> $ <%= products.precio  %></span>
            <br><br><br>
            
            <small>Tarjeta de Debito/Credito hasta en 3 cuotas sin interes</small>
            <br> <br>
            <span>Cantidad</span>
            <select id="unit-cant" name="unit_cant" class="unit-cant">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12">12</option>
           
            </select>            
            
            <div class="buttons-buy">
               <a href="/" class="back-button" value="Volver">Volver </a>
               <input type="button" class="buy-button" value="Agregar al carrito">
            </div>  
         </div>
      </article>  
   </section>
</div>




<%- include('partials/footer.ejs')%>
</html>
