   
<%- include('partials/header.ejs')%>
       
<div class="container">  
   <div class="banner"> </div>
   <div class="list-menu"> 
      <label for="">Nuestra Linea de vinos </label>
      <select id="cepa" name="cepa"  class="custom-select-sm w-25 selectStyle">
         <option selected>Elige por cepas</option>
         <% for (let i=0; i<listaCepas.length ;i++){ %>
         <option value="<%= listaCepas[i].id %>"><%=listaCepas[i].name %></option>
         <% } %>
      </select>  
   </div> 
      
   <div class="row p-2 m-0">
      <% for(i=0;i<products.length ;i++){ %>
      <div class="col ">
         <div class="card shadow-sm mb-1">
            <a href="/products/<%= products[i].id %>"><img class=" rounded mx-auto mt-1 d-block" style="width: 8rem;"src="../images/upload/<%= products[i].image.path %>" alt=""></a>
            <div class="card-body justify-content-center ">
               <h5 class="card-title text-center" href="/products/detail/<%= products[i].id %>"><%= products[i].name  %></h5>
               <p class="text-center "><strong>  <%= products[i].cepas.name  %> </strong></p>
               <div class="card-text  text-center">
                  <small>Precio: </small>
                  <span class="price"> $ <%= products[i].price  %></span>
                  <div class=" d-flex justify-content-between mt-2" >
                     <a href="/products/detail/<%= products[i].id  %>"><button class="btn btn-outline-info"  type="button"> Ver Producto</button></a> 
                     <button value="Comprar" class="btn btn-success ml-3" type="button"> <i class="fas fa-cart-plus" size= "2px"></i> Comprar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% } %>
   </div>

</div>
<%- include('partials/footer.ejs')%>
  

