   
   <%- include('partials/header.ejs')%>
       
   <div>  
    <div class="banner"></div>
      
      <section class="cuerpo">
        <section class="costado-izq"> 
          <div class="a-costado"> 
           <ul >
            <h4 class="cepas">Linea por Cepas</h4>
            <br>
            <li><a href=""class="lista">Cabernet Frank</a></li>
            <li><a href=""class="lista">Cabernet Suavignon</a></li>
            <li><a href=""class="lista">Chardonnay</a></li>
            <li><a href=""class="lista">Malbec</a></li>
            <li><a href=""class="lista">Sauvignon Blanc</a></li>
            <br>
            <li><a href="/products"class="lista">ABM de Productos</a></li>
         </div>  
        </section>
      
        <section class="costado-der">

         <div class="titulo-productos"><h2 class="formato-texto"></h2></div> -->
          
         
         
         <div class="">
          <section class="bloqueArticulos">
             <% for(i=0;i<productos.length ;i++){ %>
             <article class="articulo">
               <div>
                 <img  id="list-img" src="../images/upload/<%= productos[i].img %>" alt="">
               </div>
             
              <div class="list-buy-prod">
               <a class="list-prod" href="/products/detProducto/:<%= productos[i].id %>  "><%= productos[i].nombre  %></a>
               <a ><%= productos[i].cepa  %></a> 
                <span>Precio x unidad </span>
                <span class="price"> $ <%= productos[i].precio  %></span>
                <input type="button" class="car-button" value="Agregar al carrito">
                <input type="button" class="buy-button" value="Comprar">
   
              </div>
             </article>  
             <% } %> 
           </section>
       </div>
         
         
         
  <!--               
         <section class="list-prod">
            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="./products/detProducto"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
             </div>
            </article>
            

            <article >
              <div class="list-img-prod">
                <img  id="list-img" src="../images/cat-malbec.jpeg" alt="">
              </div>
            
             <div class="list-buy-prod">
               <a href="#"><span>Vino Catena Zapata - Malbec 2018</span></a>
               <span>Precio x unidad</span>
               <span class="price">$1500,00</span>
               <input type="button" class="car-button" value="Agregar al carrito">
               <input type="button" class="buy-button" value="Comprar">
             </div>
            </article>

           
-->
           
           

                          
          </section>     
         
        </section>
      </section>
    </div> 
    <br> 
    <%- include('partials/footer.ejs')%>
  </div>
  </div>
  </body>
</html>
