<%- include('partials/header.ejs')%>
       
<div class="container">  
 <div class="banner"></div>
   
   <section class="cuerpo"></section>
      <div class="titulo-lista">
        <h4  > Lista de Productos </h4>
        <a href="/products/productsNew"class="lista">Cargar Nuevo Producto</a>
      </div> 
       
      <div class="">
         <section class="bloqueArticulos">
            <% for(i=0;i<productos.length ;i++){ %>
            <article class="articulo">
              <div>
                <img  id="list-img" src="../images/upload/<%= productos[i].img %>" alt="">
              </div>
            
             <div class="list-buy-prod">
              <a class="list-prod" href="/products/detProducto "><%= productos[i].nombre  %></a> 
               <span>Precio x unidad</span>
               <span class="price">$ <%= productos[i].precio  %></span>
               <div class="icons-abm">
               <a href=""><i class="far fa-file-alt"></i></a>
               <a href=""><i class="far fa-edit"></i></a>
               <a href=""><i class="far fa-trash-alt"></i></a>
               </div>


             </div>
            </article>  
            <% } %> 
          </section>
      </div>

   </section>
 </div> 
 <br> 
 <%- include('partials/footer.ejs')%>
</div>
</div>
</body>
</html>
