<%- include('partials/header.ejs')%>
<div class="container">  
   <div class="banner"></div>
   
   <div class="cuerpo">
      <section class="list-menu"> 
        <ul >
          <li><a href=""class="lista">Perfil</a></li>
          <li><a href="/users/register"class="lista">Cargar Usuario Administrativo</a></li>
          <li><a href="/products/productNew.ejs"class="lista2">Cargar Nuevo Producto</a></li>            
          
        </ul>   
      </section>    
      <div class="carousel-container">
  
         <div class="container-links">
         </div> 
     
         <section class="container-cards">

            <% for(i=0;i<products.length ;i++){ %>
            <article class="article-abm">

               <div class="img-prod">
                  <img  id="list-img" src="../images/upload/<%= products[i].img %>" alt="">
               </div>
            
               <div class="list-buy-prod">
                  <a class="list-prod" href="./products/detail/<%= products[i].id  %> "><%= products[i].nombre  %></a> 
                  <span>Precio x unidad</span>
                  <span class="price">$ <%= products[i].precio  %></span>
                  <div class="icons-abm">
                     <a href="/products/detail/<%= products[i].id  %>"><i class="far fa-file-alt"></i></a>
                     <a href="/products/edit/<%= products[i].id  %>"><i class="far fa-edit"></i></a>
                     <a href="/products/delete/<%= products[i].id  %>"><i class="far fa-trash-alt"></i></a>
                  </div>
               </div>
            
            </article>  
            <% } %> 
         
        </section>
      </div>
   </div>
</div> 
<%- include('partials/footer.ejs')%>


