<%- include('partials/header.ejs')%>

<div class="container">
  <div class="banner"> </div>
  
   <section class="article-back">
      <article class="article-card-h">
         <div class="card-img-det">
            <img id="img-det" src="../../images/upload/<%= products.img %>" alt="">
         </div>
         
         <div class="card-text">
                    
            <form class='formulario' action="" method="POST" enctype="multipart/form-data">
                <div class='inputForm'>    
                   <i class="fas fa-tags"></i>                      
                   <input id="producto" name="nombre" type="text" placeholder="<%= products.nombre  %>" required>
                </div>
                <div class="inputForm">
                   <i class="far fa-file-alt"></i>
                   <label for="descrpicion">Descripcion</label>
                   <textarea class="inputForm" name= "descripcion" type="textArea" id="textArea" rows="3"><%= products.descripcion  %></textarea>
                </div>
                <div class='inputForm'>
                   <i class="fas fa-wine-glass-alt"></i>
                   <span>Cepa: </span>
                   <select id="cepa" name="cepa" class="car-cepa" >
                      <option value="selected"><%= products.cepa  %></option> 
                      <option value="cabernetFrank">Cabernet Frank</option>
                      <option value="cabernetSuavignon">Cabernet Suavignon</option>
                      <option value="chardonay">Chardonay</option>
                      <option value="malbec">Malbec</option>
                      <option value="merlot">Merlot</option>
                      <option value="syrah">Syrah</option>
                      <option value="suavignonBlanc">Suavignon Blanc</option>
                   </select>    
                </div>
                <div class="inputForm">
                   <i class="far fa-image"></i>
                   <label type="text" for="imagen"></label>
                   <input type="file" class="" id="imagen" name="imagen">
                </div>
                <div class='inputForm'>
                    <i class="fas fa-dollar-sign"></i>
                    <input id="precio" name="precio" type="number" placeholder="<%= products.precio  %>" required>
                 </div>   




            <div class="buttons-buy">
               <a href="/products" class="back-button" value="Volver">Volver </a>
               <input type="button" class="buy-button" value="Editar">
               <input type="button" class="buy-button" value="Borrar">
            </div>  
         </div>
         
      </article>  
   </section>
</div>


<%- include('partials/footer.ejs')%>
</html>