<%- include('partials/header.ejs')%>
<div class="container">
   <div class="login">
      <h2>Registro de Usuario</h2>  
      <br>  
    <% if (typeof errors!= 'undefined') { %>
        <p style="color:red"> Verifique los ERRORES</p>
        <% } %> 
    <br> 
       
      <section>
         <form class='formulario' action="/users/register" method="POST">
            <small class="errores">
                <%= (typeof errors !='undefined' && errors.apellido) ? errors.apellido.msg : '' %>
            </small>
            <div class='inputForm'>
                 <i class="fa fa-user icon"></i>    
                 <input id="apellido" name="apellido" type="text" placeholder="Apellido"value=<%= (typeof old != 'undefined' && !errors.apellido) ? old.apellido : '' %>>
             </div>
        
             <small class="errores">
                <%= (typeof errors !='undefined' && errors.nombre) ? errors.nombre.msg : '' %>
            </small>
             <div class='inputForm'>
                 <i class="fa fa-user icon"></i>    
                 <input id="nombre" name="nombre" type="text" placeholder='Nombre'value=<%= (typeof old != 'undefined' && !errors.nombre) ? old.nombre : '' %>>
             </div>
               
             <small class="errores">
                <%= (typeof errors !='undefined' && errors.email) ? errors.email.msg : '' %>
            </small>
             <div class='inputForm'>
                 <i class="fas fa-envelope icon"></i>    
                 <input id="email" name="email" type="email" placeholder="Ingrese su Email" value=<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>>
             </div>
             
             <small class="errores">
                <%= (typeof errors !='undefined' && errors.pasword) ? errors.pasword.msg : '' %>
            </small>
             <div class='inputForm'>
                 <i class="fas fa-key icon"></i>
                 <input id="password" name="pasword" type="password" placeholder="Contraseña">
             </div>
              
             <% if( typeof usuarioLogueado != 'undefined'){ %> 
                <% if(usuarioLogueado.administrador=="true"){ %> 
                    <div class='inputForm'>
                        <select id="select" name="select">
                            <option value="true">true</option>
                            <option value="false">false</option>
                          </select> 
                        
                    </div>
                <% } %> 
            <% } %>  
                 <br>
                 <br>                                     
             
             <div>
                 <input class="terminos" type="checkbox" required> <small> Acepto terminos y condiciones   </small>
               </div>
             <div class="buttons">
                 <button class='submit' type="reset" value='limpiar'>Borrar</button>
                 <button class='submit' type="submit" value='cargaDatos'>Registrar</button>
             </div> 
         </form>
     
     </input>
     </section>
   </div>
</div>   
<%- include('partials/footer.ejs')%>
